*.class

# Package Files #
*.jar
*.war
*.ear

# LAS2peer files
/export
/tmp
/.las2peer
/node-storage
/startup
/log
/lib
etc/ivy/ivy.jar
/service
/etc/startup
*.iml
/.idea
restMapping.xml
/out
/output/
/servicebundle

# IntelliJ
.idea/

# Eclipse
.metadata
.idea/workspace.xml
/bin/start_network.sh
/bin/start_network.bat



# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.db_data