*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# LAS2peer files
/export
/tmp
/.las2peer
/startup
/log
/lib
etc/ivy/ivy.jar
/service
/etc/startup

# System files
.DS_Store
/bin
